@{
    ViewData["Title"] = "Alterar Produto";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h1>Alterar Produto</h1>
            </div>
            <div class="card-body">
                <form action="">
                    <div class="row">
                        <div class="col-2">
                            <label for="Id">Código</label>
                        </div>
                        <div class="col-10">
                            <input type="text" id="Id" name="Id" disabled class="form-control">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-2">
                            <label for="Nome">Nome</label>
                        </div>
                        <div class="col-10">
                            <input type="string" id="Nome" name="Nome" class="form-control">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-2">
                            <label for="Estoque">Estoque</label>
                        </div>
                        <div class="col-10">
                            <input type="number" id="Estoque" name="Estoque" class="form-control">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-2">
                            <label for="Preco">Preço</label>
                        </div>
                        <div class="col-10">
                            <input type="number" step="0.01" id="Preco" name="Preco" class="form-control">
                        </div>
                    </div>

                </form>
            </div>

            <div class="card-footer">
                <button class="btn btn-outline-success" id="btnSalvar">Salvar</button>
                <button class="btn btn-outline-danger" id="btnCancelar">Cancelar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {

<script>

    const idProduto = '@Context.Request.Query["id"]';

    $(document).ready(function () {

        loadProduto();

    });

    $(document).on('click', '#btnCancelar', function(e) {
        window.location.href = "/products"
    });

    $(document).on('click', '#btnSalvar', function (e) {
        e.preventDefault();

        var data = {
            nome: $("#Nome").val(),
            estoque: $("#Estoque").val(),
            preco: $("#Preco").val()
        }

        axios.put('https://localhost:60001/produto/' + idProduto, data)
            .then(function (response) {

                alert('Alteração efetuada com sucesso')
                window.location.href = "/products"

            })
            .catch(function (error) {
                alert('Verifique se a api esta funcionando')
                console.log(error);
            })

    })


    function loadProduto() {

        axios.get('https://localhost:60001/produto/GetProduto/' + idProduto)
            .then(function (response) {
                $("#Id").val(response.data.id);
                $("#Nome").val(response.data.nome);
                $("#Estoque").val(response.data.estoque);
                $("#Preco").val(response.data.preco);
            })
            .catch(function (error) {
                alert('Verifique se a api esta funcionando')
                console.log(error);
            })
    }

</script>

}